body {
    background-color: darkseagreen;
}

h1,
h2 {
    color: brown;
    text-align: center;
}

p {
    color: darkviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    color: darkgoldenrod
}